<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'게시물'"></h1>
  <table>
    <tr>
      <td th:text="id"></td>
      <td th:text="${posts.id}"></td>
    </tr>
    <tr>
      <td th:text="writer"></td>
      <td th:text="${posts.boardWriter}"></td>
    </tr>
    <tr>
      <td th:text="date"></td>
      <td th:text="${posts.boardCreatedTime}"></td>
    </tr>
    <tr>
      <td th:text="hits"></td>
      <td th:text="${posts.boardHits}"></td>
    </tr>
      <td th:text="title"></td>
      <td th:text="${posts.boardTitle}"></td>
    </tr>
    <tr>
      <td th:text="contents"></td>
      <td th:text="${posts.boardContents}"></td>
    </tr>
  </table>
<button type="submit"></button>
</body>
</html>