<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1 th:text="'게시물 수정'"></h1>
  <form action="/board/update" method="post">
    <input name="id" type="hidden" th:value="${upboardone.id}">
    <input name="boardWriter" type="text" th:value="${upboardone.boardWriter}"><br>
    <input name="boardPass" type="password"><br>
    <input name="boardTitle" type="text" th:value="${upboardone.boardTitle}"><br>
    <textarea name="boardContents" th:text="${upboardone.boardContents}" ></textarea><br>
    <button type="submit">수정</button>
  </form>
</body>
</html>