<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/board/save">
        <input type="text" name="boardWriter" placeholder="작성자"><br>
        <input type="text" name="boardPass" placeholder="비밀번호"><br>
        <input type="text" name="boardTitle" placeholder="제목"><br>
        <textarea name="boardContents" placeholder="내용을 입력하세요"></textarea><br>
        <button type="submit">작성</button>
    </form>
</body>
</html>