<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hs.study.boardMybatis.dao.BoardDao">
    <insert id="insert" parameterType="kr.hs.study.boardMybatis.dto.BoardDto">
        insert into board(id, boardWriter, boardPass, boardTitle, boardContents) values(board_seq.nextval, #{boardWriter}, #{boardPass}, #{boardTitle}, #{boardContents})
    </insert>
    <select id="listAll" resultType="kr.hs.study.boardMybatis.dto.BoardDto">
        select * from board order by id desc
    </select>
    <update id="countHits" parameterType="int">
        update board set boardHits = boardHits + 1 where id = #{id}
    </update>
    <select id="selectOne" resultType="kr.hs.study.boardMybatis.dto.BoardDto">
        select * from board where id=#{id}
    </select>
    <update id="update" parameterType="kr.hs.study.boardMybatis.dto.BoardDto">
        update board set boardWriter=#{boardWriter}, boardPass=#{boardPass}, boardTitle=#{boardTitle}, boardContents=#{boardContents} where id=#{id}
    </update>
    <delete id="delete">
        delete from board where id=#{id}
    </delete>
</mapper>